body {
  background-color: grey;
	}

.list {
	margin: auto;
	width: 600px;
	height: 800px;
	background-color: white;
	line-height: 170%;
}

ul {
	margin-left: 5%;
}

img {
	width: 150px;
	display: block;
	margin: auto;
}

h3 {
	text-align: center;
}
h4 {
	text-align: center;
}

span {
	color: orange;
}

p {
	margin-left: 10%;
	text-align:left;
	font-size: 16px;
}

hr {
	width: 80%;
}
