body{
  background: url(../img/background.png) repeat-x #0c739f;
}
#mainbox{
  position: relative;
  display: block;
  top: 25px;
  margin: auto;
  overflow: hidden;
  width: 1000px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 7px 10px 0px rgba(12,106,129,1),
              -4px 7px 10px 0px rgba(12,106,129,1);
}
.clearfix:after{
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}
h5.logo a{
  display: block;
  float: left;
  margin-left: 20px;
  padding: 110px 0px 0px 60px;
  width: 310px;
  height: 175px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  text-decoration: none;
  font: 10pt "Tahoma";
  color: #128aa7;
}
.contakts{
  float: right;
  margin: 10px 45px 0px 0px;
  font: 10pt "Tahoma";
  color: #128aa7;
}
.contakts a{
  font: 10pt "Tahoma";
  color: #128aa7;
  text-decoration: none;
}
strong{
  font-weight: bold;
}
.countries{
  float: right;
  clear: both;
  margin-top: -180px;
  margin-right: 5px;
  width: 450px;
  height: 55px;
}
.countries a{
  display: block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  font: 8pt "Tahoma";
  color: #128aa7;
}
.countries a.indiya{
  width: 60px;
  height: 45px;
  background-image: url(../img/indiya.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.indiya p{
  padding-top: 45px;
  text-align: center;
}
.countries a.nepal{
  width: 60px;
  height: 45px;
  background-image: url(../img/nepal.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.nepal p{
  padding-top: 45px;
  text-align: center;
}
.countries a.tibet{
  width: 60px;
  height: 45px;
  background-image: url(../img/tibet.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.tibet p{
  padding-top: 45px;
  text-align: center;
}
.countries a.bhutan{
  width: 60px;
  height: 45px;
  background-image: url(../img/bhutan.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.bhutan p{
  padding-top: 45px;
  padding-left: 0px;
  text-align: center;
}
.countries a.shri-lanka{
  width: 60px;
  height: 45px;
  background-image: url(../img/shri-lanka.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.shri-lanka p{
  padding-top: 45px;
  text-align: center;
}
.countries a.maldives{
  width: 60px;
  height: 45px;
  background-image: url(../img/maldives.png);
  background-position: center;
  background-repeat: no-repeat;
}
.countries a.maldives p{
  padding-top: 45px;
  text-align: center;
}
.photo{
  position: absolute;
  clear: both;
  width: 1000px;
  top: 175px;
  height: 235px;
  border-top: 1px solid #128aa7;
  border-bottom: 1px solid #128aa7;
  background-image: url(../img/photo.png);
}
.menu{
  float: left;
  width: 100%;
  list-style: none;
  margin-top: 126px;
  margin-bottom: 2px;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid black;
  background-color: #323232;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.menu li{
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  margin-right: 35px;
  position: relative;
  display: block;
}
.menu li a{
  display: block;
  padding: 5px;
  color: white;
  font: 9pt 'Tahoma';
  background: #323232;
  text-decoration: none;
}
.menu li a:hover{
  color:white;
  background-color: #323232;
  text-decoration: none;
}
.menu ul{
  list-style: none;
  position: absolute;
  left: 9999px;
  opacity: 0;
}
.menu ul li{
  float: none;
  background-color: grey;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.5);
  border-top: black;
}
.menu ul a{
  white-space: nowrap;
  display: block;
}
.menu li:hover ul{
  top: 27px;
  left: -37px;
  opacity: 1;
  z-index: 1;
}
.menu li:hover a{
  background-color: #323232;
  text-decoration: none;
}
.menu li:hover ul a{
  text-decoration: none;
  border: 0;
}
.menu li:hover ul li a:hover{
  background-color: #323232;
  text-decoration: none;
}
.left_box{
  width: 200px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  text-align: justify;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  background: #edeef0;
  color: #424c43;
  font: 14px 'Tahoma';
  line-height: 20px;
  letter-spacing: 1px;
}
.center{
  width: 500px;
  float: left;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
  color: #424c43;
  font: 14px 'Tahoma';
  line-height: 20px;
  letter-spacing: 1px;
}
.right_box{
  width: 200px;
  float: right;
  background: #edeef0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20000px;
  margin-bottom: -20000px;
  border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;
  text-align: justify;
  color: #424c43;
  font: 14px 'Tahoma';
  line-height: 20px;
  letter-spacing: 1px;
}
h2{
  font: bold 15px 'Tahoma';
  color: #424c43;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 15px;
}
#footer{
  position: relative;
  display: inline-block;
  margin-left: 670px;
  margin-top: 55px;
  margin-bottom: 10px;
  color: white;
  font: 10pt 'Tahoma';
}
#footer a{
  color: white;
  font: 10pt 'Tahoma';
  text-decoration: none;
}
